pod:
  lifecycle:
    upgrades:
      daemonsets:
        pod_replacement_strategy: RollingUpdate
        fluentbit:
          enabled: true
          min_ready_seconds: 0
          max_unavailable: 1
      deployments:
        revision_history: 3
        pod_replacement_strategy: RollingUpdate
        rolling_update:
          max_unavailable: 1
          max_surge: 3
    termination_grace_period:
      fluentd:
        timeout: 30
      prometheus_fluentd_exporter:
        timeout: 30
  replicas:
{% for pod, rep in replicas[item.name].iteritems() %}
    {{pod}}: {%if cp_mode == "single" %}1{%else%}{{rep}}{%endif%}
{% endfor %}
  resources:
    enabled: false
    fluentbit:
      limits:
        memory: '400Mi'
        cpu: '400m'
      requests:
        memory: '100Mi'
        cpu: '100m'
    fluentd:
      limits:
        memory: '1024Mi'
        cpu: '2000m'
      requests:
        memory: '128Mi'
        cpu: '500m'
    prometheus_fluentd_exporter:
      limits:
        memory: "1024Mi"
        cpu: "2000m"
      requests:
        memory: "128Mi"
        cpu: "500m"
    jobs:
      image_repo_sync:
        requests:
          memory: "128Mi"
          cpu: "100m"
        limits:
          memory: "1024Mi"
          cpu: "2000m"
      tests:
        requests:
          memory: '128Mi'
          cpu: '100m'
        limits:
          memory: '1024Mi'
          cpu: '2000m'
  tolerations:
    fluentbit:
      enabled: true
monitoring:
  prometheus:
    enabled: {{monitoring}}
conf:
  fluentbit:
    - service:
        header: service
        Flush: 30
        Daemon: Off
        Log_Level: info
        Parsers_File: parsers.conf
    - kernel_messages:
        header: input
        Name: tail
        Tag: kernel
        Path: /var/log/kern.log
        DB: /var/log/kern.db
        Mem_Buf_Limit: 5MB
        DB.Sync: Normal
        Buffer_Chunk_Size: 1M
        Buffer_Max_Size: 1M
    - kubelet:
        header: input
        Name: systemd
        Tag: journal.*
        Path: ${JOURNAL_PATH}
        Systemd_Filter: _SYSTEMD_UNIT=kubelet.service
        DB: /var/log/kubelet.db
        Mem_Buf_Limit: 5MB
        DB.Sync: Normal
        Buffer_Chunk_Size: 1M
        Buffer_Max_Size: 1M
    - docker_daemon:
        header: input
        Name: systemd
        Tag: journal.*
        Path: ${JOURNAL_PATH}
        Systemd_Filter: _SYSTEMD_UNIT=docker.service
        DB: /var/log/docker.db
        Mem_Buf_Limit: 5MB
        DB.Sync: Normal
        Buffer_Chunk_Size: 1M
        Buffer_Max_Size: 1M
    - kernel_record_modifier:
        header: filter
        Name: record_modifier
        Match: kernel
        Record: hostname ${HOSTNAME}
    - systemd_modify_fields:
        header: filter
        Name: modify
        Match: journal.**
        Rename:
          _BOOT_ID: BOOT_ID
          _CAP_EFFECTIVE: CAP_EFFECTIVE
          _CMDLINE: CMDLINE
          _COMM: COMM
          _EXE: EXE
          _GID: GID
          _HOSTNAME: HOSTNAME
          _MACHINE_ID: MACHINE_ID
          _PID: PID
          _SYSTEMD_CGROUP: SYSTEMD_CGROUP
          _SYSTEMD_SLICE: SYSTEMD_SLICE
          _SYSTEMD_UNIT: SYSTEMD_UNIT
          _UID: UID
          _TRANSPORT: TRANSPORT
    - containers_tail:
        header: input
        Name: tail
        Tag: kube.*
        Path: /var/log/containers/*.log
        Parser: docker
        DB: /var/log/flb_kube.db
        Mem_Buf_Limit: 5MB
        DB.Sync: Normal
        Buffer_Chunk_Size: 1M
        Buffer_Max_Size: 1M
    - drop_fluentd_logs:
        header: output
        Name: "null"
        Match: "**.fluentd**"
    - kube_filter:
        header: filter
        Kube_URL: https://kubernetes.default.svc.{{global_domain_suffix}}
        Name: kubernetes
        Match: kube.*
        Merge_Log: On
    - fluentd_output:
        header: output
        Name: forward
        Match: "*"
        Host: ${FLUENTD_HOST}
        Port: ${FLUENTD_PORT}
