{% set nodes = [] %}
{% for node in groups['control-plane'] %}
{% do nodes.append(hostvars[node]['ansible_'+ k8s.iface]['ipv4']['address']) %}
{% endfor %}

global:
   contrail_env:
     CONTROLLER_NODES: "{{nodes | join(',')}}"
     CONTROL_NODES: "{{nodes | join(',')}}"
     CONFIG_DATABASE_NODES: "{{nodes | join(',')}}"
     VROUTER_GATEWAY: "{{default_gw}}"
     BGP_PORT: "{{BGP_port}}"
     BGP_ASN: "{{contrail_bgp_asn}}"
     ENCAP_PRIORITY: "VXLAN,MPLSoUDP,MPLSoGRE"
     RABBITMQ_USER: "{{endpoints.contrail_endpoints.auth.rabbitmq.username}}"
     RABBITMQ_PASSWORD: "{{contrail_endpoints_rabbitmq_pwd}}"
     RABBITMQ_ERLANG_COOKIE: "{{rabbitmq_contrail_cookie}}"
     JVM_EXTRA_OPTS: "{{contrail.jvm_opts}}"
     METADATA_PROXY_SECRET: "{{metadata_secret_key}}"
     LOG_LEVEL: SYS_NOTICE
     CLOUD_ORCHESTRATOR: openstack
#     AAA_MODE: cloud-admin
     AAA_MODE: rbac
     CONFIG_NODEMGR__DEFAULTS__minimum_diskGB: "5"
     DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "5"
     SVC_MONITOR__DEFAULTS__region_name: {{region}}
# Not used now, vf will be activated through sysfsutils
#   contrail_env_vrouter_sriov:
#     SRIOV: true
#     per_compute_info:
#     - node_name: node1
#       SRIOV_VF:  4
#       SRIOV_PHYSICAL_INTERFACE: enp2s0f0

   images:
     imagePullPolicy: {{pull_policy}}
     tags:
{% for image, params in images.contrail.iteritems() %}
{% if params.move is defined and params.move == 'osh' %}
{% continue %}
{% endif %}
{% if params.link is defined %}
{% set params = images['contrail'][params.link] %}
{% endif %}
       {{image}}: "{{params.repo|default(local_docker_registry+'/'+OS_release)}}/{{params.image}}:{{params.tag|default(contrail_tag)}}"
{% endfor %}

ingress:
  ext_suffix: -{{region|lower}}.{{ext_domain_suffix}}

endpoints:
  cluster_domain_suffix: "{{int_domain_suffix}}"
  keystone:
    auth:
      username: "{{endpoints.identity.auth.admin.username}}"
      password: "{{identity_admin_pwd}}"
      project_name: "{{endpoints.identity.auth.admin.project_name}}"
      user_domain_name: "{{service_domain}}"
      project_domain_name: "{{service_domain}}"
      region_name: "{{region}}"
{% if not multi_region.master %}
    host_fqdn_override:
       default: {{keystone_endpoint.auth_url | urlsplit('hostname')}}
{% endif %}
  rabbitmq:
    auth:
      username: "{{endpoints.contrail_endpoints.auth.rabbitmq.username}}"
      password: "{{contrail_endpoints_rabbitmq_pwd}}"
    hosts:
      default: "{{nodes | join(',')}}"

manifests:
  configmap_vrouter_kernel: true
  configmap_vrouter_keystone: true
  configmap_vrouter_dpdk: false
  configmap_vrouter_sriov: false
  daemonset_kernel: true
  daemonset_dpdk: false
  daemonset_vrouter_sriov: true
  secret_vrouter_keystone_admin: true
  job_kubernetes_cni_init: false
