images:
  pull_policy: {{pull_policy}}
  tags:
{% for image, params in images.osh.iteritems() %}
{% if params.link is defined %}
{% set params = images['osh'][params.link] %}
{% endif %}
    {{image}}: {{params.repo|default(local_docker_registry+"/"+os_release)}}/{{params.image}}:{{params.tag|default(osh_tag)}}
{% endfor %}
# Contrail image integration
{% for image, params in images.contrail.iteritems() %}
{% if params.move is defined and params.move == 'osh' %}
{% if params.link is defined %}
{% set params = images['contrail'][params.link] %}
{% endif %}
    {{image}}: {{params.repo|default(local_docker_registry)}}/{{params.image}}:{{params.tag|default(contrail_tag)}}
{% endif %}
{% endfor %}


release_group: {{region}}_{{os_release}}

# Parameter for ceph network
network:
  public: {{ceph_net}}
  cluster: {{ceph_net}}

pod:
  #NOTE(portdirect): see https://github.com/openstack/kolla/blob/f62f5ae2fa5e7808722f9b37b48a50b39c20b46d/kolla/common/config.py#L695-L998
  user:
    barbican:
      uid: 42403
    cinder:
      uid: 42407
    congress:
      uid: 42410
    glance:
      uid: 42415
    heat:
      uid: 42418
    magnum:
      uid: 42428
    neutron:
      uid: 42435
    nova:
      uid: 42436
    senlin:
      uid: 42443
    ceph-user: 
      uid': 64045
    keystone:
      uid: 42425
    gnocchi:
      uid: 42416

endpoints:
  cluster_domain_suffix: {{int_domain_suffix}}
{% for endpoint, users in endpoints.iteritems() %}
  {{endpoint}}:
{% if users.auth is defined %}
    auth:
{% for user, params in users.auth.iteritems() %}
      {{user}}:
{% if params.link is defined %}
{% set params = endpoints[params.link.split('.')[0]].auth[params.link.split('.')[1]] %}
{% endif %}
{% for param, value in params.iteritems() %}
{% if param == 'password' %}
        password: "{{lookup('vars', endpoint+'_'+user+'_pwd')}}"
{% continue %}
{% endif %}
{% if param == 'access_key' %}
        access_key: "{{lookup('vars', endpoint+'_'+user+'_'+param+'_pwd')}}"
{% continue %}
{% endif %}
{% if param == 'secret_key' %}
        secret_key: "{{lookup('vars', endpoint+'_'+user+'_'+param+'_pwd')}}"
{% continue %}
{% endif %}
{% if endpoint == 'identity' and user == 'heat' and param == 'role' %}
        {{param}}: [{{value|join(', ')}}]
{% continue %}
{% endif %}
        {{param}}: "{{value}}"
{% endfor %}
{% endfor %}
{% endif %}
{% if users.host_fqdn_override is defined %}
    host_fqdn_override:
      {{users.host_fqdn_override | to_nice_yaml | indent(6)}}
{% endif %}
{% endfor %}
