pod:
  replicas:
{% for pod, rep in replicas[item.name].iteritems() %}
    {{pod}}: {%if cp_mode == "single" %}1{%else%}{{rep}}{%endif%}
{% endfor %}
deployment:
  mode: cluster
  type: DaemonSet
network:
  host_namespace: true
monitoring:
  prometheus:
    enabled: true
    ingress_exporter:
      scrape: true
      port: '10254'

