pod:
  replicas:
{% for pod, rep in replicas[item.name].iteritems() %}
    {{pod}}: {% if cp_mode == "single" %}1{% else %}{{rep}}{% endif %}

{% endfor %}
deployment:
  mode: cluster
  type: DaemonSet
network:
  host_namespace: true
  vip:
    manage: true
    # what type of vip manage machanism will be used
    # possible options: routed, keepalived
    mode: keepalived
    interface: {{hostvars[groups['control-plane']|first]['ansible_default_ipv4']['interface']}}
    addr: {{vip_ip}}/32
    routerid: {{255| random(seed=region)}}
conf:
  ingress:
    bind-address: 0.0.0.0

monitoring:
  prometheus:
    enabled: {{monitoring}}
    ingress_exporter:
      scrape: true
      port: '10254'

