pod:
  replicas:
    ingress: 2
    error_page: 2
deployment:
  mode: cluster
  type: DaemonSet
network:
  host_namespace: true
monitoring:
  prometheus:
    enabled: true
    ingress_exporter:
      scrape: true
      port: '10254'

