pod:
  replicas:
    ingress: 3
    error_page: 3
  resources:
    enabled: {{pod_resources}}
    ingress:
      requests:
        memory: "128Mi"
        cpu: "100m"
      limits:
        memory: "1024Mi"
        cpu: "2000m"
    error_pages:
      requests:
        memory: "128Mi"
        cpu: "100m"
      limits:
        memory: "1024Mi"
        cpu: "2000m"
    jobs:
      image_repo_sync:
        requests:
          memory: "128Mi"
          cpu: "100m"
        limits:
          memory: "1024Mi"
          cpu: "2000m"
monitoring:
  prometheus:
    enabled: true
    ingress_exporter:
      scrape: true
      port: '10254'
