network:
  interface:
    tunnel: eth0
  backend:
    - opencontrail
pod:
  replicas:
    server: 3
conf:
  neutron:
    DEFAULT:
      core_plugin: neutron_plugin_contrail.plugins.opencontrail.contrail_plugin.NeutronPluginContrailCoreV2
      service_plugins: neutron_plugin_contrail.plugins.opencontrail.loadbalancer.v2.plugin.LoadBalancerPluginV2
      l3_ha: False
      api_extensions_path: /opt/plugin/site-packages/neutron_plugin_contrail/extensions:/opt/plugin/site-packages/neutron_lbaas/extensions
      interface_driver: null
    quotas:
      quota_driver: neutron_plugin_contrail.plugins.opencontrail.quota.driver.QuotaDriver
    agent:
      root_helper: sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf
  plugins:
    ml2_conf:
      ml2:
        type_drivers: flat,vxlan
        tenant_network_types: vxlan
      ml2_type_vxlan:
        vni_ranges: 1:1000
        vxlan_group: 239.1.1.1
      ml2_type_flat:
        flat_networks: public
    opencontrail:
      APISERVER:
        api_server_ip: config-api-server.contrail
        api_server_port: 8082
        contrail_extensions: "ipam:neutron_plugin_contrail.plugins.opencontrail.contrail_plugin_ipam.NeutronPluginContrailIpam,policy:neutron_plugin_contrail.plugins.opencontrail.contrail_plugin_policy.NeutronPluginContrailPolicy,route-table:neutron_plugin_contrail.plugins.opencontrail.contrail_plugin_vpc.NeutronPluginContrailVpc,contrail:None,service-interface:None,vf-binding:None"
        multi_tenancy: True
      COLLECTOR:
        analytics_api_ip: analytics-api-server.contrail
        analytics_api_port: 8081
      KEYSTONE:
        insecure: True

  metadata_agent:
    DEFAULT:
      metadata_proxy_shared_secret: "password"


dependencies:
  dynamic:
    targeted:
      opencontrail:
        server:
          daemonset: []

manifests:
  daemonset_dhcp_agent: false
  daemonset_l3_agent: false
  daemonset_lb_agent: false
  daemonset_metadata_agent: false
  daemonset_ovs_agent: false
