pod:
  replicas:
    prometheus_openstack_exporter: 1
  lifecycle:
    upgrades:
      revision_history: 3
      pod_replacement_strategy: RollingUpdate
      rolling_update:
        max_unavailable: 1
        max_surge: 3
    termination_grace_period:
      prometheus_openstack_exporter:
        timeout: 30
  resources:
    enabled: {{pod_resources}}
    prometheus_openstack_exporter:
      requests:
        memory: "128Mi"
        cpu: "100m"
      limits:
        memory: "1024Mi"
        cpu: "2000m"
    jobs:
      image_repo_sync:
        requests:
          memory: "128Mi"
          cpu: "100m"
        limits:
          memory: "1024Mi"
          cpu: "2000m"
      ks_user:
        requests:
          memory: "128Mi"
          cpu: "100m"
        limits:
          memory: "1024Mi"
          cpu: "2000m"
conf:
  prometheus_openstack_exporter:
    OS_POLLING_INTERVAL: 30
    TIMEOUT_SECONDS: 20
    OS_RETRIES: 1
