[submodule "kubespray"]
	path = kubespray
	url = https://github.com/and-1/kubespray.git
[submodule "openstack-helm-infra"]
	path = openstack-helm-infra
	url = https://github.com/and-1/openstack-helm-infra.git
	branch = legacy
[submodule "openstack-helm"]
	path = openstack-helm
	url = https://github.com/and-1/openstack-helm.git
	branch = legacy
[submodule "contrail-helm-deployer"]
	path = contrail-helm-deployer
	url = https://github.com/and-1/contrail-helm-deployer.git
[submodule "kolla"]
	path = kolla
	url = https://github.com/and-1/kolla.git
	branch = stable/queens
[submodule "contrail-container-builder"]
	path = contrail-container-builder
	url = https://github.com/and-1/contrail-container-builder.git
