[submodule "kubespray"]
	path = kubespray
	url = https://github.com/and-1/kubespray.git
[submodule "openstack-helm-infra"]
	path = openstack-helm-infra
	url = https://github.com/and-1/openstack-helm-infra.git
[submodule "openstack-helm"]
	path = openstack-helm
	url = https://github.com/and-1/openstack-helm.git
[submodule "contrail-helm-deployer"]
	path = contrail-helm-deployer
	url = https://github.com/and-1/contrail-helm-deployer.git
