parameters:
{% for env in output_vrfs %}
  {{env.name|lower}}_vlan: "{{env.vlan}}"
  {{env.name|lower}}_prefix: "{{env.prefix}}"
  {{env.name|lower}}_alloc_pool: "{{env.alloc_pool}}"
  {{env.name|lower}}_gw: "{{env.gw}}"
  {{env.name|lower}}_hub_prefix: "{{env.hub_prefix}}"
  {{env.name|lower}}_hub_export_rt: "{{env.hub_export_rt}}"
  {{env.name|lower}}_hub_import_rt: "{{env.hub_import_rt}}"
{% if env['dedicated_edge'] is defined and env['dedicated_edge'] | bool  %}
  {{env.name|lower}}_edge_count: "{{env.edge_count| default(edge_count)}}"
{% endif %}
{% endfor %}
  mgnt_vlan: "{{mgnt_vlan}}"
  mgnt_prefix: "{{mgnt_prefix}}"
  mgnt_alloc_pool: "{{mgnt_alloc_pool}}"
  mgnt_gw: "{{mgnt_gw}}"
  edge_flavor: "{{edge_flavor}}"
  edge_image: "{{edge_image}}"
  edge_count: {{edge_count}}
  update_min_count: {{update_min_count}}
  update_pause: {{update_pause}}
  update_max_batch: {{update_max_batch}}
  tf_endpoint: '{{tf_endpoint}}'
  ks_endpoint: '{{ks_endpoint}}'
  ks_password: '{{ks_password}}'
  router_as: '{{router_as}}'
  dns_srv: '{{edge_dns_srvs| join(" ")}}'
  ntp_srv: '{{edge_ntp_srvs| join(" ")}}'
  health_check_delay: {{health_check_delay}}
  health_check_retries: {{health_check_retries}}
  health_check_timeout: {{health_check_timeout}}
  peer_keepalive: {{peer_keepalive}}
  peer_holdtime: {{peer_holdtime}}
