{%- macro ipaddr(net="") %}
{%- set host_num = ansible_default_ipv4.address | ipaddr("int") - ansible_default_ipv4.network | ipaddr("int") %}
{{- net | ipaddr(host_num) }}
{%- endmacro %}
network:
    version: 2
    ethernets:
{% for iface in ['ceph', 'k8s'] %}
{% set if_name = hostvars[inventory_hostname][iface]['iface'] %}
       {{if_name}} :
            addresses:
            - {{ipaddr(hostvars[inventory_hostname][iface]['net'])}}
            mtu: {{hostvars[inventory_hostname][iface]['mtu'] | default('1500')}}
            match:
                macaddress: {{hostvars[inventory_hostname]['ansible_'+if_name]['macaddress']}}
            set-name: {{if_name}}
{% endfor %}
