#!/bin/bash

# Copyright 2017 The Openstack-Helm Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

set -x

import_tries=0

TRY_LIMIT=${TRY_LIMIT:-1}
JOB_TIMEOUT=${JOB_TIMEOUT:-900}
RETRY_TIMER=${RETRY_TIMER:-30}

function wait_rack {

  while [[ ${JOB_TIMEOUT} -gt 0 ]]
  do
      if $(maas ${ADMIN_USERNAME} rack-controllers read | tail -n +1 | jq -r '.[] | .hostname' | grep -qE "\b$(hostname)\b");then
        return 0
      fi
      let JOB_TIMEOUT-=${RETRY_TIMER}
      sleep ${RETRY_TIMER}
  done
  return 1
}

function set_zone {
# Ensure zone exist
  if ! $(maas ${ADMIN_USERNAME} zones read | jq -r '.[] | .name' | grep -qE "\b${REGION}\b");then
    maas ${ADMIN_USERNAME} zones create name=${REGION}
  fi
# Get rack id
  export rack_id=$(maas ${ADMIN_USERNAME} rack-controllers read | jq -r '.[] | if .hostname == "'$(hostname)'" then .system_id else "" end')
# Check current zone
  cur_zone=$(maas ${ADMIN_USERNAME} rack-controllers read | jq -r '.[] | if .hostname == "'$(hostname)'" then .zone.name else "" end')
  if [ "x$cur_zone" != "x${REGION}" ];then
    maas admin rack-controllers set-zone zone=${REGION} nodes=${rack_id}
  fi
  if ! $(maas ${ADMIN_USERNAME} spaces read | jq -r ' .[] | .name' | grep -q "${REGION}");then
    maas ${ADMIN_USERNAME} spaces create name=${REGION}
  fi
}

function config_pxe_net {
{% for iface in ansible_interfaces %}
{% if hostvars[ansible_hostname]['ansible_'+iface]['ipv4'] is defined and hostvars[ansible_hostname]['ansible_'+iface]['ipv4']['address'] == ansible_host %}
{% set iface_dict = hostvars[ansible_hostname]['ansible_'+iface]['ipv4'] %}
  subnet="{{(iface_dict['network']+'/'+iface_dict['netmask'])| ipaddr('net')}}"
  start_ip="{{(iface_dict['network'] | ipaddr('int') + MAAS_DHCP_RANGE.start) | ipaddr('address')}}"
  end_ip="{{(iface_dict['network'] | ipaddr('int') + MAAS_DHCP_RANGE.end) | ipaddr('address')}}"
{% endif %}
{% endfor %}
  while ! $(maas ${ADMIN_USERNAME} subnets read | jq -r ' .[] | .name' | grep -q "$subnet");do
    sleep 5
  done
  subnet_id=$(maas ${ADMIN_USERNAME} subnets read | jq -r '.[] | if .cidr == "'$subnet'" then .id else "" end' | tr -d '[:space:]')
  vid=$(maas ${ADMIN_USERNAME} subnets read | jq -r '.[] | if .cidr == "'$subnet'" then .vlan.vid else "" end' | tr -d '[:space:]')
  fabric=$(maas ${ADMIN_USERNAME} subnets read | jq -r '.[] | if .cidr == "'$subnet'" then .vlan.fabric else "" end' | tr -d '[:space:]')
  fabric_id=$(maas ${ADMIN_USERNAME} fabrics read | jq -r '.[] | if .name == "'$fabric'" then .id else "" end' | tr -d '[:space:]')
  maas ${ADMIN_USERNAME} ipranges create type=dynamic start_ip=${start_ip} end_ip=${end_ip}
  maas ${ADMIN_USERNAME} vlan update $fabric_id $vid dhcp_on=true space=${REGION} primary_rack=${rack_id}
  maas ${ADMIN_USERNAME} fabric update $fabric_id name="DEFAULT"
  maas ${ADMIN_USERNAME} subnet update $subnet_id dns_servers={{MAAS_DNS_NODE | join(',')}}
}


maas login ${ADMIN_USERNAME} ${MAAS_ENDPOINT} $MAAS_API_KEY
wait_rack
set_zone
config_pxe_net
